body {
    font-family: Arial, sans-serif;
    background-color: rgb(189, 187, 86);
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
/* 
.image-container {
    text-align: center; 
    margin: 20px 0; 
} */

/* .image-container img {
    max-width: 100%; 
    height: auto;
    border: 1px solid #ccc; 
    border-radius: 5px; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
}*/


h1 {
    text-align: center;
}

.input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.notes-container {
    border-top: 1px solid #ccc;
    padding-top: 20px;
}

.note {
    position: relative;
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.delete-button {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #ff3333;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
}

